@charset "UTF-8";

@media screen and (max-width: 600px) {
  .content {
    margin: 0 17px;
    padding-top: 34px;
  }
  
  .card {
    margin: 0 auto;
  }

  h1:first-of-type { /* page title */
    text-align: center;
  }
}

@media screen and (min-width: 601px) {
  .content {
    margin: 0 68px;
    padding-top: 68px;
  }
  
  .card {
    float: right;
    width: 240px;
    margin: 17px 0 17px 34px;
  }

  .nav-card {
    border-color: #000;
    border-width: 3px;
    border-left-style: double;
    border-right-style: double;
    border-radius: 7px;
  }

  h1:first-of-type {
    display: inline-block;
    margin-bottom: 6.1px;
  }

  hr.block-card-only {
    display: none;
  }
}

@media screen and (min-width: 865px) {
  .content {
    width: 720px;
    margin: 0 auto;
  }
}

html {
  font-family: "Fraunces", serif;
  font-weight: 340;
  font-size: 15px;
  -webkit-text-size-adjust: 100%;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 0;
}

footer {
  flex-shrink: 0;
  margin-bottom: 17px;
}

code {
  font-family: "Recursive", monospace;
  font-weight: 400;
  font-size: 13.5px;
}

h1:first-of-type a {
  color: #000;
  text-decoration: none;
}

h2 {
  margin-top: 15px;
}

.content {
  padding-bottom: 17px;
  flex: 1;
}

.card {
  max-width: 240px;
  text-align: center;

  th { font-weight: 340 }
  th, td { vertical-align: top }
  hr { margin: 7px 0 0 }
  p { margin: 0 0 15px }
}

strong { font-weight: 680 }

ul {
  list-style-type: "• ";
  padding-inline-start: 12px;
}

li:not(#markdown-toc li) {
  margin: 12px 0;
}

#markdown-toc li {
  margin: 5px;
}

.centered {
  text-align: center;
}

table {
  margin-left: auto;
  margin-right: auto;
}

hr {
  border: none;
  color: #000000;
  margin: 18.675px 0 0;
}

hr::after {
  content: "~ · ~";
  display: block;
  text-align: center;
}

a { color: #ff3333; }
a:visited { color: #9933cc; }
a:focus { outline-color: #ff3333; }
a:active { text-decoration: none; }

.to-top {
  text-align: center;

  a {
    text-decoration: none;
    color: #000000;
  }

  a:active {
    text-decoration: underline;
  }

  @media (hover: hover){
    a:hover {
      text-decoration: underline;
    }
  }
}

code.highlighter-rouge {
  background-color: #efefef;
  padding: 3px 2px 0.5px;
  border-radius: 4px;
}

div.highlighter-rouge {
  background-color: #efefef;
  margin: 1em 0;
  border-radius: 4px;  
}

div.highlight {
  padding: 7px;
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  overflow-y: hidden;
}

pre.highlight {
  margin: 0;
  padding: 0;
}

/* Code syntax highlighting from minima */
/* See alternatives here: https://github.com/jwarby/jekyll-pygments-themes */

.highlight, .highlighter-rouge {
  .err   { color: #e3d2d2; background-color: #8c2121 } /* Error */

  .c     { color: #8a8a8a } /* Comment */
  .c1    { color: #8a8a8a } /* Comment.Single */
  .cm    { color: #8a8a8a } /* Comment.Multiline */
  .cp    { color: #8a8a8a } /* Comment.Preproc */
  .cs    { color: #8a8a8a; font-style: italic }  /* Comment.Special */

  .gd    { color: #d85a5a } /* Generic.Deleted */
  .gd .x { color: #d85a5a } /* Generic.Deleted.Specific */
  .ge    { font-style: italic } /* Generic.Emph */
  .gh    { color: #999999 } /* Generic.Heading */
  .gi    { color: #4ec64e } /* Generic.Inserted */
  .gi .x { color: #4ec64e } /* Generic.Inserted.Specific */
  .go    { color: #888888 } /* Generic.Output */
  .gp    { color: #555555 } /* Generic.Prompt */
  .gr    { color: #f07178 } /* Generic.Error */
  .gs    { font-weight: bold } /* Generic.Strong */
  .gt    { color: #f07178 } /* Generic.Traceback */
  .gu    { color: #aaaaaa } /* Generic.Subheading */

  .k     { color: #d85a7b } /* Keyword */
  .kc    { color: #d85a7b } /* Keyword.Constant */
  .kd    { color: #d85a7b } /* Keyword.Declaration */
  .kp    { color: #d85a7b } /* Keyword.Pseudo */
  .kr    { color: #d85a7b } /* Keyword.Reserved */
  .kt    { color: #ffcb6b } /* Keyword.Type */

  .n     { color: #c7d1d8 }
  .na    { color: #11a69f } /* Name.Attribute */
  .nb    { color: #d85a7b } /* Name.Builtin */
  .bp    { color: #999999 } /* Name.Builtin.Pseudo */
  .nc    { color: #11a69f } /* Name.Class */
  .ne    { color: #990000 } /* Name.Exception */
  .nf    { color: #5ab780 } /* Name.Function */
  .ni    { color: #11a69f } /* Name.Entity */
  .nn    { color: #11a69f } /* Name.Namespace */
  .no    { color: #9d99e6 } /* Name.Constant */
  .nt    { color: #de3581 } /* Name.Tag */
  .nv    { color: #9680b1 } /* Name.Variable */
  .vc    { color: #9680b1 } /* Name.Variable.Class */
  .vg    { color: #9680b1 } /* Name.Variable.Global */
  .vi    { color: #9680b1 } /* Name.Variable.Instance */

  /* .o     { color: #bcd890 } */ /* Operator */
  .ow    { color: #bcd890 } /* Operator.Word */
  .p, .o { color: #4e009c } /* Punctuation */

  .m     { color: #9d99e6 } /* Literal.Number */
  .mf    { color: #9d99e6 } /* Literal.Number.Float */
  .mh    { color: #9d99e6 } /* Literal.Number.Hex */
  .mi    { color: #9d99e6 } /* Literal.Number.Integer */
  .il    { color: #9d99e6 } /* Literal.Number.Integer.Long */
  .mo    { color: #9d99e6 } /* Literal.Number.Oct */

  .s     { color: #baa94a } /* Literal.String */
  .s1    { color: #baa94a } /* Literal.String.Single */
  .s2    { color: #baa94a } /* Literal.String.Double */
  .sb    { color: #baa94a } /* Literal.String.Backtick */
  .sc    { color: #baa94a } /* Literal.String.Char */
  .sd    { color: #baa94a } /* Literal.String.Doc */
  .se    { color: #baa94a } /* Literal.String.Escape */
  .sh    { color: #baa94a } /* Literal.String.Heredoc */
  .si    { color: #baa94a } /* Literal.String.Interpol */
  .sr    { color: #009926 } /* Literal.String.Regex */
  .ss    { color: #3c90f5 } /* Literal.String.Symbol */
  .sx    { color: #baa94a } /* Literal.String.Other */

  .w     { color: #eeffff } /* Text.Whitespace */

  .lineno, .gl { color: #8a8a8a } /* Line Number */
  .hll   { background-color: #373730 } /* Marked-lines */
}