@charset "UTF-8";

@media screen and (max-width: 600px) {
  .main {
    position: absolute;
    margin: 17px 17px 0;
  }
  
  .card {
    width: 240px;
    margin: 0 auto;
  }

  h1 {
    text-align: center;
  }
}

@media screen and (min-width: 601px) {
  .main {
    position: absolute;
    margin: 34px 68px 0;
  }
  
  .card {
    float: right;
    width: 240px;
    margin: 0 0 5% 5%;
  }
}

@media screen and (min-width: 865px) {
  .main {
    position: absolute;
    margin-top: 34px;
    left: 50%;
    margin-left: -360px;
    width: 720px;
  }
  
  .card {
    float: right;
    width: 240px;
    margin: 0 0 5% 5%;
  }
}

html {
  -webkit-text-size-adjust: 100%;
}

html, .card th {
  font-family: "Fraunces", serif;
  font-weight: 340;
  font-size: 15px;
}

code {
  font-family: "Share Tech Mono", monospace;
}

strong {
  font-weight: 680;
}

ul {
  list-style-type: "• ";
  margin: 0px;
  padding: 0px;
}

li {
  margin: 12px;
}

a {
  color: #ff3333;
}

a:visited {
  color: #9933cc;
}

.centered {
  text-align: center;
}

.card table{
  margin-left: auto;
  margin-right: auto;
}

.card td, .card th {
  vertical-align: top;
}

hr {
  border: none;
  color: #000000;
}

hr::after {
  content: "~ · ~";
  display: block;
  text-align: center;
}