@charset "UTF-8";

@media screen and (max-width: 600px) {
  .main {
    margin: 0 17px;
    padding-top: 17px;
  }
  
  .card {
    margin: 0 auto;
  }

  #top { /* page title */
    text-align: center;
  }
}

@media screen and (min-width: 601px) {
  .main {
    margin: 0 68px;
    padding-top: 34px;
  }
  
  .card {
    float: right;
    margin: 17px 0 17px 34px;
  }

  #top {
    display: inline-block;
    margin-bottom: 6.1px;
  }
}

@media screen and (min-width: 865px) {
  .main {
    width: 720px;
    margin: 0 auto;
  }
}

#top a {
  color: #000;
  text-decoration: none;
}

.main {
  padding-bottom: 17px;
}

.card {
  width: 240px;
  text-align: center;
}

html {
  -webkit-text-size-adjust: 100%;
}

html, .card th {
  font-family: "Fraunces", serif;
  font-weight: 340;
  font-size: 15px;
}

code {
  font-family: "Share Tech Mono", monospace;
}

strong {
  font-weight: 680;
}

ul {
  list-style-type: "• ";
  margin: 0px;
  padding: 0px;
}

li {
  margin: 12px;
}

a {
  color: #ff3333;
}

a:visited {
  color: #9933cc;
}

.centered {
  text-align: center;
}

.card table{
  margin-left: auto;
  margin-right: auto;
}

.card td, .card th {
  vertical-align: top;
}

hr {
  border: none;
  color: #000000;
  margin: 18.675px 0 0;
}

hr::after {
  content: "~ · ~";
  display: block;
  text-align: center;
}

hr.to-top::after {
  content: "~ ^ ~";
}

.card hr {
  margin: 7px 0 0;
}

.card p {
  margin: 0 0 15px;
}

h2 {
  margin-top: 15px;
}

.to-top {
  text-align: center;
}

.to-top a {
  text-decoration: none;
  color: #000000;
}

.to-top a:hover {
  text-decoration: underline;
}