@charset "UTF-8";

@media screen and (max-width: 600px) {
  .content {
    margin: 0 17px;
    padding-top: 34px;
  }
  
  .card {
    margin: 0 auto;
  }

  h1:first-of-type { /* page title */
    text-align: center;
  }
}

@media screen and (min-width: 601px) {
  .content {
    margin: 0 68px;
    padding-top: 68px;
  }
  
  .card {
    float: right;
    width: 240px;
    margin: 17px 0 17px 34px;
  }

  .nav-card {
    border-color: #000;
    border-width: 3px;
    border-left-style: double;
    border-right-style: double;
    border-radius: 7px;
  }

  h1:first-of-type {
    display: inline-block;
    margin-bottom: 6.1px;
  }

  hr.block-card-only {
    display: none;
  }
}

@media screen and (min-width: 865px) {
  .content {
    width: 720px;
    margin: 0 auto;
  }
}

html {
  font-family: "Fraunces", serif;
  font-weight: 340;
  font-size: 15px;
  -webkit-text-size-adjust: 100%;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 0;
}

footer {
  flex-shrink: 0;
  margin-bottom: 17px;
}

code {
  font-family: "Recursive", monospace;
  font-weight: 400;
  font-size: 13.5px;
}

h1:first-of-type a {
  color: #000;
  text-decoration: none;
}

h2 {
  margin-top: 15px;
}

.content {
  padding-bottom: 17px;
  flex: 1;
}

.card {
  max-width: 240px;
  text-align: center;

  th { font-weight: 340 }
  th, td { vertical-align: top }
  hr { margin: 7px 0 0 }
  p { margin: 0 0 15px }
}

strong { font-weight: 680 }

ul {
  list-style-type: "• ";
  padding-inline-start: 12px;
}

li:not(#markdown-toc li) {
  margin: 12px 0;
}

#markdown-toc li {
  margin: 5px;
}

.centered {
  text-align: center;
}

table {
  margin-left: auto;
  margin-right: auto;
}

hr {
  border: none;
  color: #000000;
  margin: 18.675px 0 0;
}

hr::after {
  content: "~ · ~";
  display: block;
  text-align: center;
}

a { color: #ff3333; }
a:visited { color: #9933cc; }
a:focus { outline-color: #ff3333; }
a:active { text-decoration: none; }

.to-top {
  text-align: center;

  a {
    text-decoration: none;
    color: #000000;
  }

  a:active {
    text-decoration: underline;
  }
}

.to-top a:active {
  text-decoration: underline;
}