@charset "UTF-8";

@media screen and (max-width: 600px) {
  .main {
    position: absolute;
    margin: 34px 34px 0;
  }
  
  .card {
    width: 240px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 601px) {
  .main {
    position: absolute;
    margin: 34px 68px 0;
  }
  
  .card {
    float: right;
    width: 240px;
    margin: 0 0 5% 5%;
  }
}

@media screen and (min-width: 865px) {
  .main {
    position: absolute;
    margin-top: 34px;
    left: 50%;
    margin-left: -360px;
    width: 720px;
  }
  
  .card {
    float: right;
    width: 240px;
    margin: 0 0 5% 5%;
  }
}

html {
  font-family: "Quattrocento Sans", sans-serif;
  font-size: 12pt;
}

ul {
  list-style-type: "• ";
  margin: 0px;
  padding: 0px;
}

li {
  margin: 12px;
}

a {
  color: #ff6666;
}

a:visited {
  color: #9966cc;
}

.centered {
  text-align: center;
}

code {
  font-family: "Inconsolata", sans-serif;
}

.card table{
  margin-left: auto;
  margin-right: auto;
}

.card td, .card th {
  vertical-align: top;
  font-weight: normal;
}

hr {
  border: none;
  color: #000000;
}

hr::after {
  content: "~ • ~";
  display: block;
  text-align: center;
}