<head>
<meta charset="utf-8">
<meta name="keywords" content="Isaac, Ren">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="apple-touch-icon" sizes="180x180" href="/site/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/site/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/site/favicon-16x16.png">
<link rel="manifest" href="/site/site.webmanifest">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght,SOFT,WONK@0,9..144,100..900,100,1;1,9..144,100..900,100,1&display=swap" rel="stylesheet">

<link rel="stylesheet" href="/main.css">

{% if page.title -%}
<title>{{ page.title }}</title>
{%- else -%}
<title>{{ site.title }}</title>
{% endif -%}
{% seo title=false -%}
</head>