@charset "UTF-8";

$s-margin: 17px;  // small viewport margin
$l-margin: 68px;  // large viewport mininmum margin
$l-content-width: 720px;  // large viewport content width
$s-width: 600px;  // small viewport width threshold

$l-width: $l-content-width + 2 * $l-margin;  // large viewport width threshold
$card-width: 240px;
$card-left-margin: 34px;
$card-border: 3px;  // for `with-nav` layout
$total-card-width: $card-width + $card-left-margin + 2 * $card-border;

$base-font-size: 16px;

@media screen and (max-width: 600px) {
  .wrapper {
    margin: 0 #{$s-margin};
  }

  .content {
    padding-top: 34px;
  }
  
  .card {
    max-width: #{$card-width};
    margin: 0 auto;
  }

  h1:first-of-type {
    text-align: center;
  }
}

@media screen and (min-width: #{$s-width}) {
  .wrapper {
    margin: 0 calc(#{$s-margin} + (100vw - #{$s-width}) * #{($l-margin - $s-margin) / ($l-width - $s-width)})
  }
  
  .content {
    padding-top: 68px;
  }

  .card {
    float: right;
    width: #{$card-width};
    margin: 17px 0 17px #{$card-left-margin};
  }

  .nav-card {
    border-color: #ffffff00 #000;
    border-width: 0 #{$card-border};
    border-style: none double;
    border-radius: 7px;
  }

  // First heading is inline to allow card
  h1:first-of-type {
    display: inline-block;
    max-width: calc(100vw - #{$total-card-width} - 2 * calc(#{$s-margin} + (100vw - #{$s-width}) * #{($l-margin - $s-margin) / ($l-width - $s-width)}));
  }
  
  // First paragraph after first heading creates too much margin: remove it
  h1:first-of-type ~ p:first-of-type {
    margin-top: 0;
  }

  hr.block-card-only {  // for `with-nav` layout
    display: none;
  }
}

@media screen and (min-width: #{$l-width}) {
  .wrapper {
    width: #{$l-content-width};
    margin: 0 auto;
  }
}

// Font
html {
  font-family: "Fraunces", serif;
  font-weight: 340;
  font-size: #{$base-font-size};
  -webkit-text-size-adjust: 100%;  // fix for landscape iPhone (among others, surely)
}

strong { font-weight: 680 }

code {
  font-family: "Recursive", monospace;
  font-weight: 400;
  font-size: #{.875 * $base-font-size};
}  // end font

body {
  margin: 0;
}

footer {
  flex-shrink: 0;  // just in case (sticky footer)
  margin-bottom: 17px;
}

h2 {
  margin-top: #{$base-font-size};  // to match <p>
}

// Begin sticky footer stuff
.wrapper {
  display: flex;
  min-height: 100vh;  // fallback
  min-height: 100svh;
  flex-direction: column;
}

.content {
  flex: 1;
}  // end sticky footer stuff

.card {
  text-align: center;

  th { font-weight: 340 }
  th, td { vertical-align: top }
  hr { margin: 7px 0 0 }
  p:first-of-type { margin-top: 0 }
}

ul {
  list-style-type: "• ";
  padding-inline-start: 12px;
}

li:not(#markdown-toc li) {
  margin: 12px 0;
}

#markdown-toc li {
  margin: 5px;
}

.centered {
  text-align: center;
}

table {
  margin-left: auto;
  margin-right: auto;
}

table:not(.card table) {
  border-spacing: 10px 2px;
  display: block;
  overflow-x: scroll;
}

// Begin dinkus
hr {
  border: none;
  color: #000000;
  margin: #{.83 * 1.5em} 0 0;  // top margin = h2 top margin
}

hr::after {
  content: "~ · ~";
  display: block;
  text-align: center;
}  // end dinkus

// <a>
a, a.anchor span { color: #ff3333; }
a:visited, a.anchor:visited span { color: #9933cc; }
a:focus { outline-color: #ff3333; }
a:active { text-decoration: none; }

.to-top {
  text-align: center;

  a {
    text-decoration: none;
    color: #000;
  }

  a:active {
    text-decoration: underline;
  }

  @media (hover: hover){
    a:hover {
      text-decoration: underline;
    }
  }
}

// Begin anchors
a.anchor {
  text-decoration: none;
  color: #000;
}

a.anchor span::after {
  content: "¶";
  opacity: 0;
  position: absolute;
  padding-left: 7px;
}

a.anchor:focus span::after {  // for touchscreen, maybe?
  opacity: 1;
}

:is(h1, h2, h3, h4, h5, h6):is(:hover, :active, :focus) a.anchor span::after {
  opacity: 1;
}  // end anchors
// end <a>

// begin code highlighting
code.highlighter-rouge {
  background-color: #efefef;
  padding: 1px 2px;
  border-radius: 4px;
}

div.highlighter-rouge {
  background-color: #efefef;
  margin: 1em 0;
  border-radius: 4px;  
}

div.highlight {
  padding: 7px;
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  overflow-y: hidden;
}

pre.highlight {
  margin: 0;
  padding: 0;
}  // end code highlighting

.hidden-message {
  cursor: help;
}